@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}



/* ==================== Kujira ==================== */

.bg-primary {
  background-color: rgb(60, 80, 224, 1)
}

.hover\:bg-graydark:hover {
  background-color: rgb(51, 58, 72, 1)
}

.text-bodydark1 {
  color: rgb(222, 228, 238, 1)
}

.text-bodydark2 {
  color: rgb(138, 153, 175, 1)
}
